.typeBadge {
    margin: 10px 5px;
    text-transform: capitalize;
    width: fit-content;
    padding: 8px 20px!important;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    vertical-align: baseline;
    border-radius: 20px;
    display: inline-block;
    word-break: break-word;
}

/* Style plus spécifique pour l'icône de type */
svg.typeIcon {
    opacity: 1 !important; /* Force l'icône à être toujours visible */
    cursor: pointer;
    transition: filter 0.3s ease;
    display: inline-block !important;
    visibility: visible !important;
}

svg.typeIcon:hover {
    filter: brightness(1.5); /* Augmente la luminosité au survol */
}

/* Pour les menus contextuels */
.dropdown-toggle::after,
.dropdown-toggle .three-dots {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-block !important;
}

/* Classes génériques pour la visibilité */
.always-visible {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-block !important;
}